# artefact folders
node_modules
wwwroot
www

# lock files
templates/**/yarn.lock
templates/**/package-lock.json
templates/**/pnpm-lock.yaml

# log files
*.log

# include unit test files (may contain artefact folders)
!fixtures/**/*
