# artefact folders
wwwroot
www

# lock files
templates/**/yarn.lock
templates/**/package-lock.json
templates/**/pnpm-lock.yaml

# log files
*.log

# unit test files
fixtures/
bin/**/*.test.js

# development files
src/
.vscode/
img/screenshot.png
.travis.yml
appveyor.yml
build.ps1
link.ps1
templates/update.ps1
