<div ng-if="me.input.$dirty" class="field-validation-error" ng-messages="me.input.$error" role="alert">
    <!-- Validation based on input type -->
    <div ng-message="date">Value of {{me.display}} field is not a valid date.</div>
    <div ng-message="datetimelocal">Value of {{me.display}} field is not a valid date-time.</div>
    <div ng-message="email">Value of {{me.display}} field is not a valid email.</div>
    <div ng-message="month">Value of {{me.display}} field is not a valid month.</div>
    <div ng-message="number">Value of {{me.display}} field is not a valid number.</div>
    <div ng-message="time">Value of {{me.display}} field is not a valid time.</div>
    <div ng-message="url">Value of {{me.display}} field is not a valid url.</div>
    <div ng-message="week">Value of {{me.display}} field is not a valid week.</div>
    <!-- Validation based on input attributes -->
    <div ng-message="required">{{me.display}} field is required.</div>
    <div ng-message="min">{{me.display}} field {{me.minError}}.</div>
    <div ng-message="max">{{me.display}} field {{me.maxError}}.</div>
    <div ng-message="minlength">{{me.display}} field {{me.minLengthError}}.</div>
    <div ng-message="maxlength">{{me.display}} field {{me.maxLengthError}}.</div>
    <div ng-message="pattern">{{me.patternError}}.</div>
</div>
