// Be sure to @import or define your custom variable values BEFORE including Bootstrap CSS
@import "bootstrap";

html {
    height: 100vh;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

// sidebar example:     https://getbootstrap.com/docs/4.5/examples/dashboard/
// login page example:  https://getbootstrap.com/docs/4.5/examples/sign-in/
// other examples:      https://getbootstrap.com/docs/4.5/examples/
