<md-content layout-padding>
    <form name="GreetForm" ng-submit="GreetForm.$valid && me.submit()">
        <md-input-container class="md-block">
            <label for="Name">Name</label>
            <input id="Name" name="Name" ng-model="me.name" md-maxlength="32" required />
            <validation-message for="GreetForm.Name"></validation-message>
        </md-input-container>
        <div>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="GreetForm.$invalid">Submit</md-button>
        </div>
    </form>
</md-content>
